.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.react-datepicker-popper {
  z-index: 2000 !important; /* 필요한 경우 z-index 조정 */
  position: absolute !important; /* 강제로 absolute로 설정 */
  top: 0 !important; /* 필요에 따라 값 조정 */
  bottom: 100%; /* 인풋 필드 바로 아래에 위치하도록 */
}

.findPw:hover{
  color: #007bff !important;
}

@keyframes upmove {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

.upmove-text-hover {
  display: inline-flex;
  align-items: center;
  gap: 8px; /* 아이콘과 텍스트 간 간격 */
}

/* 호버 시 아이콘만 애니메이션 */
.upmove-text-hover:hover .icon {
  animation: upmove 1s infinite;
}

.icon {
  display: inline-block; /* 아이콘에 애니메이션 적용 가능 */
}